@use '@/app/styles/mixins' as *;

.postGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;

  @include mobile {
    grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
    justify-items: center;
    gap: 3px;
  }
}

.image {
  @include mobile {
    height: 100%;
    width: 100%;
  }
}