@use '@/app/styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 36px;

  width: 100%;
  max-width: 972px;
}

.posts{
  display: flex;
  gap: 10px;
  align-self: flex-start;

  width: 100%;
  max-width: 972px;
  max-height: 391px;
}