@use '@/app/styles/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 378px;
  height: auto;
  padding: 23px 24px 36px;

  @include mobile {
    @include auth-mobile;
  }

  .title {
    margin-bottom: 37px;

    @include mobile {
      margin-bottom: 31px;

      @include font(var(--font-size-l), var(--line-height-m), var(--font-weight-bold));
    }
  }

  .btn {
    margin-top: 41px;

    @include mobile {
      margin-top: 53px;
      padding: 12px 24px;
    }
  }

  .description {
    margin-top: 7px;
    color: var(--light-900);
  }

  .input {
    @include input-background;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
