@use '@/app/styles/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 378px;
  height: auto;
  padding: 23px 24px 36px;

  @include mobile {
    height: 100%;
    padding: 17px 15px 28px;
    background-color: var(--dark-700) !important;
    border: none;
  }

  .title {
    margin-bottom: 37px;

    @include mobile {
      margin-bottom: 31px;
      font-size: var(--font-size-l);
      line-height: var(--line-height-m);
    }
  }

  .btn {
    margin-top: 41px;

    @include mobile {
      margin-top: 53px;
      padding: 12px 24px;
    }
  }

  .description {
    margin-top: 7px;
    color: var(--light-900);
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
