@use 'src/app/styles/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 378px;
  height: auto;
  padding: 25px;

  @include mobile {
    @include auth-mobile;
  }

  .field {
    margin-bottom: 7px;
    @include input-background;
  }

  .title {
    margin-bottom: 37px;

    @include mobile {
      margin-bottom: 31px;

      @include font(var(--font-size-l), var(--line-height-m), var(--font-weight-bold));
    }
  }
}

.description {
  margin-top: 7px;
  margin-bottom: 23px;
  color: var(--light-900);

  @include mobile {
    margin-bottom: 53px;
  }
}

.recaptcha {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link {
  display: block;
  margin: 24px 0;
  font-weight: var(--font-weight-semibold);
  text-align: center;

  @include mobile {
    @include font(var(--font-size-s), var(--line-height-s), var(--font-weight-semibold));
  }
}

.afterInfo {
  margin-bottom: 18px;

  @include mobile {
    margin-top: 54px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actionsContainter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 17px;

  @include mobile {
    flex-direction: column-reverse;

    .recaptcha {
      margin-bottom: 36px;
    }
  }

  .sendButton {
    @include mobile {
      margin: 24px 0 19px;
      padding: 12px 24px;
    }
  }
}
