@use '@/app/styles/mixins' as *;

// TODO: height repeats layout height

.container {
  height: calc(100vh - var(--header-height));
  margin: 0 64px;
}

.link {
  display: flex;
  gap: 12px;

  /* stylelint-disable-next-line value-no-vendor-prefix */
  width: -moz-fit-content;
  width: fit-content;
  margin: 24px 0;

  color: inherit;
  text-decoration: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;

  padding-bottom: 20px;

  ul {
    margin: 5px 0 0;
    padding-left: 20px;
  }
}

.title {
  margin-bottom: 20px !important;
  text-align: center;
}

.svg {
  width: var(--svg-size);
  height: var(--svg-size);
}

.terms {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1000px;

  color: var(--light-100);
  text-align: left;
}

@include mobile {
  .signUp {
    display: none;
  }

  .container {
    margin: 15px;
  }

  .link {
    left: 0;
    margin: 0;
  }

  .title {
    margin-bottom: 0 !important;
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .wrapper {
    display: flex;
    gap: 80px;
    margin: 17px 0 14px;
  }
}
