@use '@/app/styles/mixins' as *;

.form {
  & .inputWrapper {
    width: 100%;
    padding-bottom: 13px;

    @include mobile {
      padding-bottom: 24px;
    }
  }

  .input {
    @include input-background;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;

    @include mobile {
      margin-bottom: 24px;
    }
  }

  .submitBtn {
    margin: 12px 0 18px;

    @include mobile {
      margin: 24px 0 19px;
      padding: 12px 24px;
    }
  }

  .signIn {
    font-weight: var(--font-weight-semibold);

    @include mobile {
      margin-bottom: 12px;

      @include font(var(--font-size-s), var(--line-height-s), var(--font-weight-semibold));
    }
  }
}

.iconsBox {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;

  margin: 25px 0 10px;
}

.icon {
  width: var(--signUP-icons-links);
  height: var(--signUP-icons-links);
  color: var(--light-100);
}

@include mobile {
  .formBox {
    max-width: 360px;
    padding: 20px;
  }

  .iconsBox {
    gap: 60px;
    margin: 20px 0 10px;
  }
}
