@use '@/app/styles/mixins' as *;

.buttons {
  display: flex;
  flex-direction: row;
  gap: 54px;
  align-items: center;
  justify-content: flex-end;
  order: 3;

  @include mobile {
    gap: 0;
    justify-content: space-between;
  }

  width: 100%;
}

.icon {
  width: 96px;
  height: 64px;
}
