@use '@/app/styles/mixins' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 18px;

  @include mobile {
    gap: 5px;
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
  }

  & .container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;

    & .errorMessage {
      color: var(--danger-500);
    }

    @include mobile {
      gap: 24px;
    }
  }

  & .button {
    display: flex;
    flex-direction: column;
    gap: var(--auth-form-gap);

    @include mobile {
      gap: 65px;
    }

    & .password {
      cursor: pointer;
      align-self: flex-end;
      color: var(--light-900);
    }

    & .submitBtn {
      @include mobile {
        padding: 12px 24px;
      }
    }
  }

  .input {
    background-color: var(--dark-500);

    @include mobile {
      background-color: var(--dark-700);
    }
  }
}
