@use '@/app/styles/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  width: 100%;
  padding: 36px 64px 0 24px;
  @include mobile {
    padding: 24px 15px 0
  }
}

.root {
  display: flex;
  gap: 38px;
  margin-bottom: 50px;
  @include mobile {
    gap: 0;
    margin-bottom: 6px;
    align-items: center;
    justify-content: space-between;
  }
}


.avatar {
  height: 204px;
  width: 204px;
  @include mobile {
    height: 72px;
    width: 72px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  @include mobile {
    padding-left: max(0px, calc(34% - 84px))
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    display: none;
  }
}

.titleMobile {
  display: none;
  margin-bottom: 13px;

  @include mobile {
    display: block;
  }
}

.bio {
  @include mobile {
    display: none;
  }
}

.bioMobile {
  display: none;
  margin-bottom: 29px;
  @include mobile {
    display: block;
  }
}

.counts {
  display: flex;
  align-items: center;
  @include mobile {
    justify-content: space-between;
  }
}

.firstStat {
  margin-right: 100px;
  @include mobile {
    margin-inline: 0;
  }
}

.secondStat {
  margin-right: 88px;
  @include mobile {
    margin-inline: 0;
  }
}

.btnContainer {
  display: flex;
  gap: 12px;
}
