@use '@/app/styles/mixins' as *;

.settingsContainer {
  display: flex;
  align-self: flex-start;
  width: 100%;
  padding: 24px 0 0 24px;

  & > div {
    width: 94%;
  }

  @include mobile {
    flex-direction: column;
    padding: 17px 15px 0;

    & > div {
      width: 100%;
    }
  }
}

.profileSettings {
  text-align: center;
}

.linkMyProfileRoute {
  position: absolute;
  height: 24px;
}

.tabsContainer {
  padding-top: 19px;
}

.tabsList {
  display: flex;
  max-width: 972px;

  @include mobile {
    overflow-x: auto;
    margin-inline: -15px;
    padding-inline: 15px;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.tabsTrigger {
  display: flex;
  width: 243px;
  text-align: center;
}

/*** TODO: add hard coded width 121.09% - problem in accountManagement.module.scss ***/
.tabsContent {
  display: flex;
  justify-content: center;
  width: 100%;
}
